.defaultMsg {
  text-align: center;
}

.bookRow {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.buttonRow {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.desRow {
  padding: 20px;
  width: 100%;
}

.desTitle {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}
